<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>DEMO API</title>
</head>

<body>
    <div>
        <h3>Hello, Welcome to DEMO API</h3>
    </div>
    <div class="main">
        <form action="" method="post">
            <div class="input">
                <input type="text" name="name" id="" class="input-data" placeholder="name">
                <input type="email" name="email" id="" class="input-data" placeholder="email">
                <input type="password" name="password" id="" class="input-data" placeholder="password">
                <button>x</button>
            </div>
            <div class="manipulate-btn">
                <button type="submit">Add</button>
            </div>
        </form>
    </div>
</body>

</html>